[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
SQLAlchemy = "*"
PyBigQuery = "*"
PyMySQL = "*"
Loguru = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.8"
